services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile_fastapi
    restart: always
    ports:
      - "${API_PORT:-8000}:8000"
    volumes:
      - .:/app
    env_file:
      - "./.env"
    depends_on:
      - postgres

  nginx:
    build:
      context: ./docker
      dockerfile: ./Dockerfile_nginx
    ports:
      - ${NGINX_PORT:-80}:80
    command: /tmp/run_nginx.sh
    volumes:
      - ./docker/nginx/config:/etc/nginx
    depends_on:
      - api
    restart: always

  postgres:
    image: "postgres:16.4"
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: ["CMD-SHELL", "-u", "postgres", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - ${POSTGRES_PORT:-5433}:5432
    volumes:
      - postgres:/data/postgres

networks:
  postgres:
    driver: bridge

volumes:
  postgres:
