asyncpg==0.30.0
fastapi==0.116.1
pydantic_core===2.33.2
PyJWT==2.10.1
SQLAlchemy==2.0.42
starlette==0.47.2
pydantic[email]>=2.0
mangum==0.17.0
python-jose[cryptography]
passlib[bcrypt]==1.7.4
python-multipart
bcrypt==4.1.2
pytz~=2025.2
Authlib~=1.6.5
uvicorn[standard]==0.22.0
requests
greenlet>=3.0.0
Authlib~=1.6.5
pydantic_core~=2.33.2
typing_extensions~=4.15.0
apscheduler==3.10.4
boto3==1.37.14
google-auth>=2.41.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
